<<<<<<< HEAD
.not-found {
  text-align: center;
  margin-top: 2rem;
  color: #d4af37; /* Arany */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.5rem; /* Increased font size */
  }

  .highlight-box {
    background-color: rgba(248, 225, 231, 0.8); /* Fehéres-rózsaszín */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 450px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .not-found {
    h1 {
      font-size: 2rem; /* Reduce font size */
    }

    h3 {
      font-size: 1.2rem; /* Reduce font size */
    }

    .highlight-box {
      padding: 1rem; /* Reduce padding */
    }
  }
}
=======
.not-found {
  text-align: center;
  margin-top: 2rem;
  color: #d4af37; /* Arany */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.5rem; /* Increased font size */
  }

  .highlight-box {
    background-color: rgba(248, 225, 231, 0.8); /* Fehéres-rózsaszín */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 450px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .not-found {
    h1 {
      font-size: 2rem; /* Reduce font size */
    }

    h3 {
      font-size: 1.2rem; /* Reduce font size */
    }

    .highlight-box {
      padding: 1rem; /* Reduce padding */
    }
  }
}
>>>>>>> master
