.navbar {
  width: 100%; /* Ensure the navbar spans the full width of the screen */
  margin: 0; /* Ensure no margin around the navbar */
  padding: 0; /* Ensure no padding interferes with the layout */
  background-color: rgba(248, 225, 231, 0.8); /* Fehéres-rózsaszín with transparency */
  color: #d4af37; /* Arany */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; /* Ensure consistent box-sizing */
  position: fixed; /* Fix navbar to the top */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it stays above other elements */

  .navbar-title {
    font-size: 2rem; /* Increased font size */
    font-weight: bold;
    text-decoration: none;
    color: #d4af37;
    background-color: transparent;
    padding: 0.5rem 1rem; /* Added padding for better click area */
    border: 0; /* No border */
    transition: color 0.3s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Reduced drop shadow intensity */
    
    &:hover {
        color: #b8860b; /* Sötétebb arany */
      }

    }

  .navbar-right {
    display: flex;
    gap: 1.5rem;

    .navbar-link {
      text-decoration: none;
      font-size: 1.2rem; /* Increased font size */
      color: #d4af37;
      background-color: transparent; /* Transparent background */
      padding: 0.5rem 1rem; /* Added padding for better click area */
      border: 0; /* No border */
      transition: color 0.3s;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Reduced drop shadow intensity */

      &:hover {
        color: #b8860b; /* Sötétebb arany */
      }
    }

  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row; /* Stack items vertically */
    padding: 0; /* Ensure no padding on small screens */
    margin-bottom: 0; /* Remove any margin-bottom */
    position: static; /* Make the navbar static on smaller screens */
    z-index: 1000; /* Ensure it stays above other elements */

    .navbar-title {
      font-size: 1.5rem; /* Reduce font size */
    }

    .navbar-right {
      flex-direction: column; /* Stack links vertically */
      gap: 1rem; /* Add spacing between links */
    }

    .menu-button {
      display: flex; /* Show menu button on mobile */
      align-items: center;
      justify-content: center;
      font-size: 2rem; /* Larger icon size */
      color: #d4af37; /* Arany */
      background-color: transparent; /* Transparent background */
      border: none; /* No border */
      cursor: pointer; /* Pointer cursor for better UX */
      padding: 0.5rem 1rem; /* Added padding for better click area */
    }
  }
}