<<<<<<< HEAD
.home {
  text-align: center;
  margin-top: 2rem;
  color: #d4af37; /* Arany */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  .gallery-container {
    background-color: rgba(248, 225, 231, 0.8); /* Halvány fehéres-rózsaszín */
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 0 auto;

    .selected-image {
      margin-bottom: 1rem;

      img {
        width: 60%; /* Csökkentett szélesség */
        height: auto;
        max-height: 480px; /* Maximális magasság beállítása */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }

    .image-list {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        background-color: rgba(248, 225, 231, 0.8); /* Halvány fehéres-rózsaszín */
        color: #d4af37; /* Arany */
        border: none; /* Keret eltávolítása */
        border-radius: 50%; /* Kör alakú gomb */
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Árnyék */
        transition: transform 0.3s, background-color 0.3s;
        margin: 0 -5px; /* Gombok közelebb kerülnek a képekhez */

        &:hover {
          background-color: #d4af37; /* Arany háttér */
          color: #fff; /* Fehér ikon */
          transform: scale(1.1); /* Kicsit nagyobb méret */
        }

        mat-icon {
          font-size: 24px;
        }
      }

      .image-list-content {
        display: flex;
        gap: 0.5rem;
        overflow: hidden;
        margin: 0 5px; /* Gombok még közelebb kerülnek a képekhez */

        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 5px;
          cursor: pointer;
          transition: transform 0.3s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .home {
    .gallery-container {
      padding: 1rem; /* Reduce padding */
    }

    .selected-image img {
      width: 100%; /* Make image full width */
    }

    .image-list img {
      width: 80px; /* Reduce thumbnail size */
      height: 80px;
    }
  }
}
=======
.home {
  text-align: center;
  margin-top: 2rem;
  color: #d4af37; /* Arany */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  .gallery-container {
    background-color: rgba(248, 225, 231, 0.8); /* Halvány fehéres-rózsaszín */
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 0 auto;

    .selected-image {
      margin-bottom: 1rem;

      img {
        width: 60%; /* Csökkentett szélesség */
        height: auto;
        max-height: 480px; /* Maximális magasság beállítása */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }

    .image-list {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        background-color: rgba(248, 225, 231, 0.8); /* Halvány fehéres-rózsaszín */
        color: #d4af37; /* Arany */
        border: none; /* Keret eltávolítása */
        border-radius: 50%; /* Kör alakú gomb */
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Árnyék */
        transition: transform 0.3s, background-color 0.3s;
        margin: 0 -5px; /* Gombok közelebb kerülnek a képekhez */

        &:hover {
          background-color: #d4af37; /* Arany háttér */
          color: #fff; /* Fehér ikon */
          transform: scale(1.1); /* Kicsit nagyobb méret */
        }

        mat-icon {
          font-size: 24px;
        }
      }

      .image-list-content {
        display: flex;
        gap: 0.5rem;
        overflow: hidden;
        margin: 0 5px; /* Gombok még közelebb kerülnek a képekhez */

        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 5px;
          cursor: pointer;
          transition: transform 0.3s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .home {
    .gallery-container {
      padding: 1rem; /* Reduce padding */
    }

    .selected-image img {
      width: 100%; /* Make image full width */
    }

    .image-list img {
      width: 80px; /* Reduce thumbnail size */
      height: 80px;
    }
  }
}
>>>>>>> master
